<?xml version="1.0" encoding="UTF-8"?>

<!-- TODO remove this file in favor of Java code  -->
<!-- TODO remove EKS service as it is not needed here -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:http="http://cxf.apache.org/transports/http/configuration"
       xmlns:sec="http://cxf.apache.org/configuration/security"
       xmlns:wsa="http://cxf.apache.org/ws/addressing"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
                           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
                           http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
                           http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <context:component-scan base-package="digital.slovensko.upvs" />
  <context:property-placeholder />
  <context:annotation-config />

  <bean id="logger" abstract="true">
    <property name="limit" value="-1" />
    <property name="prettyLogging" value="true" />
  </bean>

  <bean id="inLogger" class="org.apache.cxf.interceptor.LoggingInInterceptor" parent="logger" />
  <bean id="outLogger" class="org.apache.cxf.interceptor.LoggingOutInterceptor" parent="logger" />

  <cxf:bus>
    <cxf:features>
      <wsa:addressing allowDuplicates="false" />
    </cxf:features>
    <cxf:inInterceptors>
      <ref bean="inLogger" />
    </cxf:inInterceptors>
    <cxf:inFaultInterceptors>
      <ref bean="inLogger" />
    </cxf:inFaultInterceptors>
    <cxf:outInterceptors>
      <ref bean="outLogger" />
    </cxf:outInterceptors>
    <cxf:outFaultInterceptors>
      <ref bean="outLogger" />
    </cxf:outFaultInterceptors>
  </cxf:bus>

  <!-- signature crypto for STS -->
  <bean id="upvsSignatureCrypto" class="org.apache.wss4j.common.crypto.Merlin">
    <constructor-arg index="0">
      <util:properties>
        <prop key="org.apache.wss4j.crypto.merlin.keystore.file">${upvs.crypto.keystore.file}</prop>
        <prop key="org.apache.wss4j.crypto.merlin.keystore.type">${upvs.crypto.keystore.type}</prop>
        <prop key="org.apache.wss4j.crypto.merlin.keystore.alias">${upvs.crypto.keystore.alias}</prop>
        <prop key="org.apache.wss4j.crypto.merlin.keystore.password">${upvs.crypto.keystore.password}</prop>
      </util:properties>
    </constructor-arg>
    <constructor-arg index="1">
      <null />
    </constructor-arg>
    <constructor-arg index="2">
      <null />
    </constructor-arg>
  </bean>

  <!-- callback handler for STS -->
  <bean id="upvsCallbackHandler" class="digital.slovensko.upvs.security.PasswordCallbackHandler">
    <constructor-arg index="0" value="${upvs.crypto.keystore.alias}" />
    <constructor-arg index="1" value="${upvs.crypto.keystore.key}" />
  </bean>

  <!-- security settings for STS -->
  <http:conduit name="{http://xmlns.oracle.com/sts/schema/sts-11g.xsd}wss11x509-port.http-conduit">
    <http:tlsClientParameters>
      <sec:trustManagers>
        <sec:keyStore type="${upvs.ssl.truststore.type}" password="${upvs.ssl.truststore.password}" resource="${upvs.ssl.truststore.file}" />
      </sec:trustManagers>
    </http:tlsClientParameters>
  </http:conduit>

  <!-- client definitions for STS -->
  <bean id="stsClient" abstract="true" class="org.apache.cxf.ws.security.trust.STSClient">
    <constructor-arg ref="cxf" />
    <property name="location" value="${upvs.sts.address}" />
    <property name="wsdlLocation" value="sts/wss11x509.wsdl" />
    <property name="serviceName" value="{http://xmlns.oracle.com/sts/schema/sts-11g.xsd}wss11x509-serviceSoap12" />
    <property name="endpointName" value="{http://xmlns.oracle.com/sts/schema/sts-11g.xsd}wss11x509-port" />
    <property name="allowRenewing" value="false" />
    <property name="sendRenewing" value="false" />
    <property name="properties">
      <map>
        <entry key="org.apache.cxf.message.Message.ENDPOINT_ADDRESS" value="${upvs.sts.address}" />
        <entry key="security.signature.crypto" value-ref="upvsSignatureCrypto" />
        <entry key="security.callback-handler" value-ref="upvsCallbackHandler" />
      </map>
    </property>
  </bean>

  <!-- client definitions for STS -->
  <bean id="stsClient-ieksService" parent="stsClient" />
  <bean id="stsClient-identityService" parent="stsClient" />
  <bean id="stsClient-skTalkService" parent="stsClient" />
  <bean id="stsClient-eFormService" parent="stsClient" />

  <!-- security settings for EKS -->
  <http:conduit name="{http://schemas.gov.sk/edesk/eksService/1}CustomBinding_IEKSService.http-conduit">
    <http:tlsClientParameters>
      <sec:trustManagers>
        <sec:keyStore type="${upvs.ssl.truststore.type}" password="${upvs.ssl.truststore.password}" resource="${upvs.ssl.truststore.file}" />
      </sec:trustManagers>
    </http:tlsClientParameters>
  </http:conduit>

  <!-- client definition for EKS -->
  <jaxws:client id="ieksService"
                address="${upvs.eks.address}"
                serviceClass="sk.gov.schemas.edesk.eksservice._1.IEKSService"
                wsdlLocation="eks/EKSService.wsdl"
                endpointName="n:CustomBinding_IEKSService"
                serviceName="n:EKSService"
                xmlns:n="http://schemas.gov.sk/edesk/eksService/1">

    <jaxws:properties>
      <entry key="org.apache.cxf.message.Message.ENDPOINT_ADDRESS" value="${upvs.eks.address}" />
      <entry key="security.sts.client" value-ref="stsClient-ieksService" />
    </jaxws:properties>
  </jaxws:client>

  <!-- security settings for IAM -->
  <http:conduit name="{http://schemas.gov.sk/identity/service/1.7}iamwsport.http-conduit">
    <http:tlsClientParameters>
      <sec:trustManagers>
        <sec:keyStore type="${upvs.ssl.truststore.type}" password="${upvs.ssl.truststore.password}" resource="${upvs.ssl.truststore.file}" />
      </sec:trustManagers>
    </http:tlsClientParameters>
  </http:conduit>

  <!-- client definition for IAM -->
  <jaxws:client id="identityService"
                address="${upvs.iam.address}"
                serviceClass="sk.gov.schemas.identity.service._1_7.IdentityServices"
                wsdlLocation="iam/GetIdentityService.wsdl"
                endpointName="n:iamwsport"
                serviceName="n:IdentityServicesExt"
                xmlns:n="http://schemas.gov.sk/identity/service/1.7">

    <jaxws:properties>
      <entry key="org.apache.cxf.message.Message.ENDPOINT_ADDRESS" value="${upvs.iam.address}" />
      <entry key="security.sts.client" value-ref="stsClient-identityService" />
    </jaxws:properties>
  </jaxws:client>

  <!-- security settings for SKTalk -->
  <http:conduit name="{http://gov.sk/eGov/IService}ServiceSkTalk3Token_IService.http-conduit">
    <http:tlsClientParameters>
      <sec:trustManagers>
        <sec:keyStore type="${upvs.ssl.truststore.type}" password="${upvs.ssl.truststore.password}" resource="${upvs.ssl.truststore.file}" />
      </sec:trustManagers>
    </http:tlsClientParameters>
  </http:conduit>

  <!-- client definition for SKTalk -->
  <jaxws:client id="skTalkService"
                address="${upvs.sktalk.address}"
                serviceClass="sk.gov.egov.iservice.IService"
                wsdlLocation="sktalk/ServiceSkTalk3Token.wsdl"
                endpointName="n:ServiceSkTalk3Token_IService"
                serviceName="n:BizTalkServiceInstance"
                xmlns:n="http://gov.sk/eGov/IService">

    <jaxws:properties>
      <entry key="org.apache.cxf.message.Message.ENDPOINT_ADDRESS" value="${upvs.sktalk.address}" />
      <entry key="security.sts.client" value-ref="stsClient-skTalkService" />
    </jaxws:properties>
  </jaxws:client>

  <!--&lt;!&ndash; security settings for eForm &ndash;&gt;-->
  <!--<http:conduit name="{http://schemas.gov.sk/ServiceBus/service/1.0}ServiceSkTalk3Token_IService.http-conduit">-->
    <!--<http:tlsClientParameters>-->
      <!--<sec:trustManagers>-->
        <!--<sec:keyStore type="${upvs.ssl.truststore.type}" password="${upvs.ssl.truststore.password}" resource="${upvs.ssl.truststore.file}" />-->
      <!--</sec:trustManagers>-->
    <!--</http:tlsClientParameters>-->
  <!--</http:conduit>-->

  <!-- client definition for eForm -->
  <jaxws:client id="eFormService"
                address="${upvs.sktalk.address}"
                serviceClass="sk.gov.schemas.servicebus.service._1_0.IServiceBus"
                wsdlLocation="eform/eFormService.wsdl"
                endpointName="n:CustomBinding_IServiceBus"
                serviceName="n:service"
                xmlns:n="http://schemas.gov.sk/ServiceBus/service/1.0">

    <jaxws:properties>
      <entry key="org.apache.cxf.message.Message.ENDPOINT_ADDRESS" value="${upvs.sktalk.address}" />
      <entry key="security.sts.client" value-ref="stsClient-eFormService" />
    </jaxws:properties>
  </jaxws:client>
</beans>
