<?xml version="1.0" encoding="utf-8"?>

<!-- TODO remove this file in favor of Java code -->

<configuration>
  <define scope="local" name="upvs.log.level" class="digital.slovensko.upvs.internals.LoggerPropertyDefiner">
    <propertyKey>upvs.log.level</propertyKey>
    <propertyDefault>INFO</propertyDefault>
  </define>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %level: %logger{42} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${upvs.log.level}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
