<?xml version="1.0" encoding="UTF-8" ?>

<!-- TODO remove this file in favor of Java code  -->

<configuration>
  <define scope="local" name="upvs.logger" class="digital.slovensko.upvs.log.PropertyResolver">
    <propertyKey>upvs.logger</propertyKey>
    <propertyDefault>NULL</propertyDefault>
  </define>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %level: %logger{42} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="NULL" class="ch.qos.logback.core.helpers.NOPAppender" />

  <logger name="ch.qos.logback" level="WARN" />
  <logger name="org.apache.cxf" level="INFO" />

  <root level="INFO">
    <appender-ref ref="${upvs.logger}" />
  </root>
</configuration>
